.ui.container{
  text-align: center;
  margin-top: 5%;
}
.dialForm label {
	width: 30% !important;
	font-size: 18px !important;
	text-align: left;
}
select, input {
	width: 50% !important
}
.callBtn {
	font-size: 18px;
}
.ui.primary.button {
	margin-top: 40px !important;
}
.outer-wrapper .text-msg {
	width: 51%;
	margin: 100px auto 0 !important;
}
.outer-wrapper .goToFormBtn {
	width: 51%;
	font-size: 21px !important;
}
.timer-wrapper {
	display: flex;
	justify-content: space-evenly;
}
.time {
  font-size: 35px;
}
